.applications {
  padding: 0 55px;
}

.application__item {
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border 0.3s;
  margin-bottom: 25px;
  background-color: whitesmoke;
  border-radius: 30px;
}

.application__form {
  font-size: 20px;
}
